---
import Layout from "../layouts/Layout.astro";
---

<!-- Página de error 404 -->
<Layout title="LinkDev | 404 Not Found">
    <main>
        <section class="hero">
            <h1>404 Not Found</h1>
            <h2>Sorry, the page you are looking for does not exist.</h2>
        </section>
    </main>
</Layout>

<style>
    .hero {
        text-align: center;
        padding: 50px 20px;
        background-color: #11111b;
        color: #CDD6F4;
    }

    .hero h1 {
        font-size: 48px;
        margin-bottom: 20px;
    }
</style>