---
import Layout from '../layouts/Layout.astro';
---

<!-- Página de inicio -->
<Layout title="LinkDev | Home">
    <main>
        <section class="hero">
            <h1>Welcome to LinkDev!</h1>
            <h2>Connect with developers from around the world.</h2>
        </section>
        <section class="features">
            <div class="feature">
                <h2>Connections</h2>
                <p>Find and connect with other developers.</p>
            </div>
            <div class="feature">
                <h2>Projects</h2>
                <p>Collaborate on interesting projects.</p>
            </div>
            <div class="feature">
                <h2>Resources</h2>
                <p>Access a variety of useful resources.</p>
            </div>
        </section>
    </main>
</Layout>


<style>
    .hero {
        text-align: center;
        padding: 50px 20px;
        background-color: #11111b;
        color: #CDD6F4;
    }

    .hero h1 {
        font-size: 48px;
        margin-bottom: 20px;
    }

    .features {
        display: flex;
        justify-content: space-around;
        color: #CDD6F4;
        gap: 24px;
    }

    .feature {
        background-color: #1e1e2e;
        text-align: center;
        max-width: 300px;
        padding: 46px 20px;
        border-radius: 8px;
    }

    .feature h2 {
        margin-bottom: 10px;
    }

    .feature p {
    }

    @media (width <= 768px) {
        main {
            margin: 80px auto;
        }

        .hero h1 {
            font-size: 32px;
        }

        .features {
            flex-direction: column;
            margin: 0 auto;
        }

        .feature {
            margin: auto;
        }
    }
</style>


<div class="position-absolute start-0 top-0 w-100 h-100" style="background: radial-gradient(125% 125% at 50% 10%, black 50%, purple 100%);"></div>
