---
import Github from "../icons/Github.astro";
import Twitter from "../icons/Twitter.astro";
import LinkedIn from "../icons/LinkedIn.astro";
import Instagram from "../icons/Instagram.astro";
import Dribbble from "../icons/Dribbble.astro";
import Portfolio from "../icons/Portfolio.astro";
import Facebook from "../icons/Facebook.astro";
import Youtube from "../icons/Youtube.astro";
import Twitch from "../icons/Twitch.astro";
import Discord from "../icons/Discord.astro";
import Reddit from "../icons/Reddit.astro";
import Tiktok from "../icons/Tiktok.astro";
import Snapchat from "../icons/Snapchat.astro";
import Pinterest from "../icons/Pinterest.astro";

interface Props {
    name: string;
    url: string;
}

// Mapeo de nombres a componentes de íconos
const iconComponents: Record<string, any> = {
    "Github": Github,
    "Twitter": Twitter,
    "LinkedIn": LinkedIn,
    "Instagram": Instagram,
    "Dribbble": Dribbble,
    "Portfolio": Portfolio,
    "Facebook": Facebook,
    "Youtube": Youtube,
    "Twitch": Twitch,
    "Discord": Discord,
    "Reddit": Reddit,
    "Tiktok": Tiktok,
    "Snapchat": Snapchat,
    "Pinterest": Pinterest,
};

// Accede a las propiedades que se pasan al componente
const {name, url} = Astro.props;

const Icon = iconComponents[name];
---

<a href={url} target="_blank" class="pill-link">
    <div class={Icon ? '' : 'no-icon'}>
        {Icon && <Icon />}
        {name}
    </div>
</a>

<style>
    .pill-link {
        text-decoration: none;
    }

    div {
        border: 1px #3d3d5c solid;
        background-color: #11111b;
        border-radius: 8px;
        padding: 16px 128px;
        margin: 16px 0;
        display: flex;
        align-items: center;
        gap: 16px;
        transition: all 0.5s;
        color: #CDD6F4;
        font-weight: 500;
    }

    div:hover {
        background-color: var(--hover-color);
        color: #2d2d3a;
    }

    div.no-icon {
        justify-content: center;
    }

    @media (width <= 768px) {
        div {
            padding: 16px 64px;
        }
    }
</style>